<div class="container">
  <div class="row">
    <spinner [visible]="postsLoading"></spinner>
    <h1>Posts</h1>
    <div class="col-md-6">
      <select name="" id="" class="form-control" (change)="reloadPosts({userId: u.value})" #u>
        <option value="">Select a user...</option>
        <option value="{{user.id}}" *ngFor="#user of users">{{user.name}}</option>
      </select>
      <pagination [items]="posts" (page-changed)="onPageChanged($event)"></pagination>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="#post of pagedPosts"
            [class.active]="currentPost == post"
            (click)="select(post)"
            >
          {{post.title}}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" *ngIf="currentPost">
        <div class="panel-heading">
          <h3 class="panel-title">{{ currentPost.title }}</h3>
        </div>
        <div class="panel-body">

          <p>{{ currentPost.body }}</p>
          <hr>
          <spinner [visible]="commentsLoading"></spinner>
          <div class="media" *ngFor="#comment of currentPost.comments">
            <div class="media-left">
              <a href="">
                <img src="http://lorempixel.com/80/80/people?random={{comment.id}}" alt="" class="thumbnail">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{comment.name}}</h4>
              {{comment.body}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>